/* Whole Doc */

body {
  width: 90%;
  margin: auto;
}

main {
  margin: auto;
}


/* Header Section */

.logo {
  display: inline;
  vertical-align: bottom;
}

.nav-text {
  display: inline-block;
  font-size: 3em;
  font-weight: bold;
  margin-left: 350px;
  margin-bottom: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-nav{
  background-color: lightblue;
  margin-bottom: 50px;
}

/* Results Side Bar */

.analytics-panel {
  border: 4px blue solid;
  width: 500px;
  height: 600px;
  display: inline-block;
  padding: 5px;
  background-color: lightgray;
  margin-bottom: 25px;
}

.analytics-panel li {
  line-height: 1.5;
  font-size: 18px;
}

.results {
  font-size: 2em;
  font-weight: 600;
}

/* Images and Text Container */
.images-text {
  display: inline-grid;
  vertical-align: top;
  height: 600px;
  width: 1000px;
  text-align: center;
  margin-left: 50px;
  padding-top: 30px;
}

/* Three images displayed on screen */

.threeImages {
  display: inline;
  margin: auto;
  padding: 20px;
}

.threeImages img {
  padding: 5px;
  margin: 40 0;
  height: 300px;
  width: 300px;
}

/* Text Under Image Section */
.main-text {
  display: inline-block;
  width: 900px;
  margin: auto;
}

.under-text {
  font-size: 24px;
}

/* Footer Section */

.footer-text {
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  padding-top: 50px;

}

/* Chart Section */

#myChart {
  display: block;
  border: 4px blue solid;
  margin: auto;
}